<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="limitless.android.androiddevelopment">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationLoader"
        android:allowBackup="true"
        android:icon="@drawable/icon_main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Activity.ProjectViewActivity"></activity>
        <activity
            android:name=".Activity.Basic.Database.RoomActivity"
            android:label="@string/room" />
        <activity
            android:name=".Activity.Basic.Database.ObjectBoxActivity"
            android:label="@string/objectbox" />
        <activity
            android:name=".Activity.CodeMore.GoogleMap.StyledMapActivity"
            android:label="@string/styled_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CodeMore.GoogleMap.DarkStyleMapActivity"
            android:label="@string/dark_mode"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CodeMore.GoogleMap.LiveLocationActivity"
            android:label="@string/live_location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CodeMore.GoogleMap.SimpleMapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CodeMore.ImageEffectsActivity"
            android:label="@string/image_effects"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.CodeMore.GpsActivity" />
        <activity
            android:name=".Activity.CodeMore.BluetoothActivity"
            android:label="@string/bluetooth" />
        <activity
            android:name=".Activity.UserInterface.ChipsActivity"
            android:label="@string/t_chips" />
        <activity
            android:name=".Activity.CodeMore.AudioManagerActivity"
            android:label="@string/t_audio_manager" />
        <activity
            android:name=".Activity.CodeMore.TextToSpeechActivity"
            android:label="@string/t_text_to_speech" />
        <activity
            android:name=".Activity.CodeMore.MediaPlayerActivity"
            android:label="@string/t_media_player" />
        <activity
            android:name=".Activity.CodeMore.AudioRecorderActivity"
            android:label="@string/text_audio_recorder" />
        <activity
            android:name=".Activity.CodeMore.Animation.AnimationFadeActivity"
            android:label="@string/t_fade_animation" />
        <activity
            android:name=".Activity.CodeMore.Animation.AnimationRotateActivity"
            android:label="@string/t_rotate_animation" />
        <activity
            android:name=".Activity.CodeMore.Animation.AnimationSlideActivity"
            android:label="@string/t_slide_animation" />
        <activity
            android:name=".Activity.CodeMore.Animation.AnimationZoomActivity"
            android:label="@string/t_zoom_animation" />
        <activity
            android:name=".Activity.CodeMore.ClipboardManagerActivity"
            android:label="Clipboard" />
        <activity
            android:name=".Activity.UIMore.Music.MusicSimpleActivity"
            android:theme="@style/AppTheme.NoActionBar.Withe1" />
        <activity
            android:name=".Activity.UIMore.TaskManager.TaskManagerNewActivity"
            android:label="@string/t_new_task"
            android:theme="@style/AppTheme.NewTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.UIMore.TaskManager.TaskManagerChartViewActivity"
            android:label="@string/t_daily_tasks"
            android:theme="@style/AppTheme.NoActionBar.Withe"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.UIMore.TaskManager.TaskManagerListAndRecentlyActivity"
            android:label="@string/t_todo"
            android:theme="@style/AppTheme.NoActionBar.Red_600"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.UIMore.TaskManager.TaskManagerListsActivity"
            android:label="@string/t_tasks"
            android:theme="@style/AppTheme.NoActionBar.Withe" />
        <activity
            android:name=".Activity.UIMore.Profile.ProfileWithPostsActivity"
            android:label="@string/t_profile"
            android:theme="@style/AppTheme.WithPost" />
        <activity
            android:name=".Activity.UIMore.Profile.ProfileTelegramActivity"
            android:label="Telegram"
            android:theme="@style/AppTheme.Telegram" />
        <activity
            android:name=".Activity.UIMore.Profile.ProfileDeveloperActivity"
            android:label="User Info"
            android:theme="@style/AppTheme.ProfileDeveloper" />
        <activity
            android:name=".Activity.UIMore.Profile.ProfileBigHeaderActivity"
            android:theme="@style/AppTheme.ArticleBigHeader" />
        <activity
            android:name=".Activity.UIMore.Verification.VerificationCustomKeyboardDarkActivity"
            android:theme="@style/AppTheme.CustomKeyboardDark"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />
        <activity
            android:name=".Activity.UIMore.Verification.VerificationCustomKeyboardLightActivity"
            android:theme="@style/AppTheme.CustomKeyboardLight"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name=".Activity.UIMore.Verification.VerificationCodeActivity"
            android:theme="@style/AppTheme.VerificationCode" />
        <activity
            android:name=".Activity.UIMore.Verification.VerificationPhoneActivity"
            android:theme="@style/AppTheme.VerificationSimple" />
        <activity
            android:name=".Activity.UIMore.Login.LoginCardViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.UIMore.Login.LoginWithDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.UIMore.Login.LoginWithTabActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.UIMore.Login.LoginSimpleActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.UserInterface.CustomComponents.ValueSelectorActivity"
            android:label="@string/t_value_selector" />
        <activity
            android:name=".Activity.UserInterface.CustomComponents.CircleImageViewActivity"
            android:label="@string/t_circle_image_view" />
        <activity
            android:name=".Activity.UserInterface.CustomComponents.ShapeViewActivity"
            android:label="@string/t_shape_view" />
        <activity
            android:name=".Activity.UserInterface.CustomComponents.CustomTextViewActivity"
            android:label="@string/t_custom_text_view" />
        <activity
            android:name=".Activity.UserInterface.Fragments.FragmentManagerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.UserInterface.Fragments.FragmentLifecycleActivity"
            android:label="@string/t_fragment_lifecycle" />
        <activity
            android:name=".Activity.UserInterface.Resources.FontsActivity"
            android:label="@string/t_fonts" />
        <activity
            android:name=".Activity.UserInterface.Resources.FilesActivity"
            android:label="@string/text_files" />
        <activity
            android:name=".Activity.UserInterface.Resources.DrawablesActivity"
            android:label="@string/t_drawable" />
        <activity
            android:name=".Activity.UserInterface.Resources.StringActivity"
            android:label="@string/t_string" />
        <activity
            android:name=".Activity.UserInterface.Layouts.TableLayoutActivity"
            android:label="@string/t_table_layout" />
        <activity
            android:name=".Activity.UserInterface.Layouts.FrameLayoutActivity"
            android:label="@string/t_frame_layout" />
        <activity
            android:name=".Activity.UserInterface.Layouts.RelativeLayoutActivity"
            android:label="@string/t_relative_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.UserInterface.Layouts.ConstraintLayoutActivity"
            android:label="@string/t_constraint_layout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.UserInterface.Layouts.LinearLayoutActivity"
            android:label="@string/t_linear_layout" />
        <activity
            android:name=".Activity.UserInterface.Tablayout.HideToolbarTabLayoutActivity"
            android:label="@string/text_hide_toolbar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.UserInterface.Tablayout.CustomTabLayoutActivity"
            android:label="@string/t_custom_tab" />
        <activity android:name=".Activity.UserInterface.Tablayout.SimpleTabLayoutActivity" />
        <activity
            android:name=".Activity.UserInterface.Tablayout.TablayoutActivity"
            android:label="@string/text_tab_layout" />
        <activity
            android:name=".Activity.UserInterface.SnackbarActivity"
            android:label="@string/text_snackbar" />
        <activity
            android:name=".Activity.UserInterface.BottomSheetActivity"
            android:label="@string/bottom_sheet" />
        <activity
            android:name=".Activity.UserInterface.ProgressBarActivity"
            android:label="@string/t_progress_bar" />
        <activity
            android:name=".Activity.UserInterface.MenuDrawer.DrawerAdminActivity"
            android:label="@string/t_drawer_admin"
            android:theme="@style/AppTheme.DrawerAdmin" />
        <activity
            android:name=".Activity.UserInterface.MenuDrawer.DrawerGmailActivity"
            android:label="@string/t_drawer_gmail"
            android:theme="@style/AppTheme.Gmail"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.UserInterface.MenuDrawer.SimpleDrawerActivity"
            android:label="@string/t_menu_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.UserInterface.MenuDrawer.MenuActivity"
            android:label="@string/text_menu_drawer" />
        <activity
            android:name=".Activity.UserInterface.List.List2Activity"
            android:label="@string/text_android_lists" />
        <activity
            android:name=".Activity.UserInterface.List.ListActivity"
            android:label="@string/text_lists" />
        <activity
            android:name=".Activity.UserInterface.DialogActivity"
            android:label="@string/text_dialog" />
        <activity
            android:name=".Activity.UserInterface.CardsActivity"
            android:label="@string/text_cards" />
        <activity
            android:name=".Activity.UserInterface.FloatingActionButtonActivity"
            android:label="@string/text_floating_action_button" />
        <activity
            android:name=".Activity.UserInterface.ButtonsActivity"
            android:label="@string/text_buttons" />
        <activity
            android:name=".Activity.UserInterface.BannerActivity"
            android:label="@string/Banner" />
        <activity
            android:name=".Activity.UserInterface.BackdropActivity"
            android:label="@string/text_backdrop" />
        <activity
            android:name=".Activity.UserInterface.AppbarTop.AppbarTopCollapseImageActivity"
            android:label="@string/text_collapse"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.UserInterface.AppbarTop.AppbarTopActionModeActivity"
            android:label="@string/text_action_mode"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name=".Activity.UserInterface.AppbarTop.AppbarTopRegularActivity"
            android:label="@string/text_regular"
            android:theme="@style/AppTheme.NoToolbar" />
        <activity
            android:name=".Activity.UserInterface.AppbarTop.AppbarTopActivity"
            android:label="@string/text_app_bar_top" />
        <activity
            android:name=".Activity.UserInterface.AppbarBottom.AppbarBottomHideOnScrollActivity"
            android:label="@string/text_hide_on_scroll" />
        <activity
            android:name=".Activity.UserInterface.AppbarBottom.AppbarBottomInsetFABActivity"
            android:label="@string/text_inset_fab"
            android:theme="@style/AppTheme.NoToolbar" />
        <activity
            android:name=".Activity.UserInterface.AppbarBottom.AppbarBottomOverlappingFABActivity"
            android:label="@string/text_overlapping_fab"
            android:theme="@style/AppTheme.NoToolbar" />
        <activity
            android:name=".Activity.UserInterface.AppbarBottom.AppbarBottomUnlabeledActivity"
            android:label="@string/text_unlabeled" />
        <activity
            android:name=".Activity.UserInterface.AppbarBottom.AppbarBottomShiftingActivity"
            android:label="@string/text_shifting" />
        <activity
            android:name=".Activity.UserInterface.AppbarBottom.AppbarBottomLabeledActivity"
            android:label="@string/text_basic" />
        <activity
            android:name=".Activity.UserInterface.AppbarBottom.AppbarBottomActivity"
            android:label="@string/text_appbar_bottom" />
        <activity
            android:name=".Activity.Basic.Sensors.EnvironmentActivity"
            android:label="@string/text_environment_sensors" />
        <activity
            android:name=".Activity.Basic.Sensors.PositionActivity"
            android:label="@string/text_position_sensors" />
        <activity android:name=".Activity.Basic.Sensors.Network.GsonActivity" />
        <activity
            android:name=".Activity.Basic.Sensors.Network.JsonActivity"
            android:label="@string/text_json_converters" />
        <activity
            android:name=".Activity.Basic.Sensors.Network.RetrofitActivity"
            android:label="@string/text_retrofit" />
        <activity
            android:name=".Activity.Basic.Sensors.Network.VolleyActivity"
            android:label="@string/text_volley" />
        <activity
            android:name=".Activity.Basic.Notification.CustomNotificationActivity"
            android:label="@string/text_custom_notification" />
        <activity
            android:name=".Activity.Basic.Notification.NotificationStylingActivity"
            android:label="@string/text_notification_styling" />
        <activity
            android:name=".Activity.Basic.Database.RealmTestActivity"
            android:label="@string/text_realm_database" />
        <activity
            android:name=".Activity.Basic.Database.SharePrefActivity"
            android:label="@string/text_shared_preferences" />
        <activity android:name=".Activity.UIMore.Payment.Payment6Activity" />
        <activity android:name=".Activity.UIMore.Payment.Payment5Activity" />
        <activity android:name=".Activity.UIMore.Payment.Payment4Activity" />
        <activity android:name=".Activity.UIMore.Payment.Payment3Activity" />
        <activity android:name=".Activity.UIMore.Payment.Payment2Activity" />
        <activity android:name=".Activity.UIMore.Payment.Payment1Activity" />
        <activity
            android:name=".Activity.UIMore.Article.ArticleWithVideoActivity"
            android:label="@string/t_video"
            android:theme="@style/AppTheme.ArticleWithVideo" />
        <activity
            android:name=".Activity.UIMore.Article.ArticleCodingActivity"
            android:label="@string/t_article"
            android:theme="@style/AppTheme.ArticleCoding" />
        <activity
            android:name=".Activity.UIMore.Article.ArticleShortTextActivity"
            android:label="Solar System"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".Activity.UIMore.Article.ArticleBigHeaderActivity"
            android:theme="@style/AppTheme.ArticleBigHeader" />
        <activity
            android:name=".Activity.UIMore.Article.ArticleFullScreenActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".Activity.UIMore.About.AboutApplicationActivity"
            android:label="@string/t_about_application"
            android:theme="@style/AppTheme.AboutApplication" />
        <activity
            android:name=".Activity.UIMore.About.AboutFullScreenActivity"
            android:theme="@style/AppTheme.AboutFullScreen" />
        <activity
            android:name=".Activity.UIMore.About.AboutInfiniteDevelopersActivity"
            android:label="@string/t_infinite_developers"
            android:theme="@style/AppTheme.InfiniteDevelopers" />
        <activity
            android:name=".Activity.UIMore.About.AboutRestaurantActivity"
            android:label="@string/title_about_1"
            android:theme="@style/AppTheme.About1" />
        <activity android:name=".Activity.UIMore.Chat.Chat5Activity" />
        <activity android:name=".Activity.UIMore.Chat.Chat4Activity" />
        <activity android:name=".Activity.UIMore.Chat.Chat3Activity" />
        <activity android:name=".Activity.UIMore.Chat.Chat2Activity" />
        <activity android:name=".Activity.UIMore.Chat.Chat1Activity" />
        <activity android:name=".Activity.UIMore.Chat.WhatAppActivity" />
        <activity android:name=".Activity.UIMore.Chat.TelegramActivity" />
        <activity
            android:name=".Activity.Basic.FileStorage.RWCDFileActivity"
            android:label="@string/text_operation_on_file" />
        <activity
            android:name=".Activity.Basic.FileStorage.ReadVideosActivity"
            android:label="@string/text_read_videos" />
        <activity
            android:name=".Activity.Basic.FileStorage.ReadSongsActivity"
            android:label="@string/text_read_songs" />
        <activity
            android:name=".Activity.Basic.FileStorage.ReadPhotosActivity"
            android:label="@string/text_read_photos" />
        <activity
            android:name=".Activity.Basic.BroadCast.SetAlarmActivity"
            android:label="@string/text_set_alarm" />
        <activity
            android:name=".Activity.Basic.Service.SimpleImageDownloaderActivity"
            android:label="@string/text_simple_image_downloader" />
        <activity
            android:name=".Activity.Basic.BroadCast.SMSReceiverActivity"
            android:label="@string/text_sms_receiver" />
        <activity
            android:name=".Activity.Basic.BroadCast.BroadcastInfoActivity"
            android:label="@string/title_list_of_broadcast_receivers" />
        <activity
            android:name=".Activity.Basic.BroadCast.BasicBroadcastReceiver"
            android:label="@string/title_broadcast_receiver" />
        <activity android:name=".Activity.Basic.Security.SecurityActivity" />
        <activity
            android:name=".Activity.Basic.Sensors.MotionActivity"
            android:label="@string/text_motion_sensors" />
        <activity
            android:name=".Activity.Basic.Sensors.Network.HttpRequestActivity"
            android:label="@string/text_http_request" />
        <activity
            android:name=".Activity.Basic.Thread.HandlerActivity"
            android:label="@string/handler" />
        <activity
            android:name=".Activity.Basic.Notification.BasicNotificationActivity"
            android:label="@string/text_basic_notification" />
        <activity
            android:name=".Activity.Basic.Database.SQLiteActivity"
            android:label="@string/sqlite" />
        <activity
            android:name=".Activity.Basic.FileStorage.FileProviderActivity"
            android:label="@string/text_file_provider" />
        <activity android:name=".Activity.Basic.Activity.ActivityActivity" />
        <activity
            android:name=".Activity.Basic.Service.ServiceActivity"
            android:label="@string/text_basic_service" />
        <activity
            android:name=".Activity.Basic.Manifest.PermissionActivity"
            android:label="@string/title_permissions" />
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/AppTheme.NoToolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Activity.Basic.BroadCast.SMSReceiverActivity$SMSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver> <!-- simple alarm receiver -->
        <receiver
            android:name=".Activity.Basic.BroadCast.SetAlarmActivity$SimpleAlarmReceiver"
            android:process=":remote" /> <!-- simple service -->
        <service android:name=".Activity.Basic.Service.ServiceActivity$SimpleService" /> <!-- simple image downloader service -->
        <service android:name=".Activity.Basic.Service.SimpleImageDownloaderActivity$SimpleImageDownloaderService" /> <!-- file provider example -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="limitless.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider> <!-- close notification receiver -->
        <receiver android:name=".Activity.Basic.Notification.BasicNotificationActivity$BroadcastReceiverAction" /> <!-- remote input receiver -->
        <receiver android:name=".Activity.Basic.Notification.BasicNotificationActivity$InputReceiver" /> <!-- custom notification receiver -->
        <receiver android:name=".Activity.Basic.Notification.CustomNotificationActivity$CustomNotificationListener" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ads_app_id" />
    </application>

</manifest>